<li id="comment-<%= comment.id %>">
  <span class="user">
    <%= link_to comment.user.name, comment.user %>
  </span>
  <% if current_user?(comment.user) %>
    <%= link_to admin_review_comment_path(comment.review, comment),
      method: :delete, data: {confirm: t("flash.check")} do %>
      <span class="glyphicon glyphicon-trash text-danger"></span>
    <% end %>
    <%= link_to edit_admin_review_comment_path(comment.review, comment) do %>
      <span class= "glyphicon glyphicon-pencil" ></span>
    <% end %>
  <% end %>
  <span class="content"><%= comment.content %></span>
  <span class="timestamp">
    <%= t "comment.posted" %><%= time_ago_in_words comment.created_at %>
    <%= t "comment.ago" %>
  </span>
</li>
