<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @book] do |f| %>
      <%= render "shared/error_messages", object: f.object %>
        <span class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </span>

        <span class="form-group">
          <%= f.label :author %>
          <%= f.text_field :author, class: "form-control" %>
        </span>

        <p class="form-group">
          <%= f.label :publish_date %>
          <%= f.date_select :publish_date, order: [:month, :day, :year] %>
        </p>

        <span class="form-group">
          <%= f.label :number_of_page %>
          <%= f.number_field :number_of_page, min: 1, value: 1,
            class: "form-control" %>
        </span>

        <span class="form-group">
          <%= f.label :category_id %>
          <%= f.collection_select :category_id, Category.all, :id,
            :category_name, class: "form-control" %>
        </span>

        <span class="picture">
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        </span>

        <%= f.submit t("users.submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
