<h1><%= t "book.book_page_title" %></h1>
<%= link_to t("book.new"), new_admin_book_path,
  class: "btn btn-primary glyphicon glyphicon-plus" %>
<div>
  <%= render "books/form_search" %>
</div>
<%= render "book" %>
<%= will_paginate %>
