<h1><%= t "book.book_page_title" %></h1>
<div class="row">
  <%= render "form_search" %>
</div>
<%= link_to t("book.new"), new_admin_book_path,
  class: "btn btn-primary glyphicon glyphicon-plus" %>
<%= render "book" %>
<%= will_paginate %>
