<div class="row">
  <div class="col-md-6">
    <div class="row">
      <%= image_tag(@book.picture.url, size: Settings.users.size,
        class: "img-thumbnail") if @book.picture? %>
    </div>
    <div class="row">
      <b><%= @book.title %></b></br>
      <%= t "book.book_index_author" %> : <%= @book.author %></br>
      <%= t "book.book_index_publish_date" %> :
        <%= @book.publish_date.to_date %></br>
      <%= t "book.book_index_number_of_page"%> : <%= @book.number_of_page %></br>
      <%= @book.rate %> </br>
    </div>
    <div class="row">
      <%= link_to t("book.edit"), edit_admin_book_path(@book),
        class: "btn btn-primary" %>
      <%= link_to t("book.delete"), [:admin, @book], class: "btn btn-primary",
        method: :delete, data: {confirm: t("flash.check")} %>
    </div>
  </div>
  <div class="col-md-6">
      <%= t "review.review_index_name" %>
  </div>
</div>
