<div class="review-admin">
  <span class="review">

    <h4><b><%= link_to review.title, admin_book_review_path(@book, review)%></b>
    <small><%= t "review.rating" %>: <%= review.rating %></small></h4>

   <h4> <small>By:</small> <%= link_to review.user.name, review.user %></h4>

    <%= review.content %>
    </br>
    <% if current_user? review.user %>
      <%= link_to edit_admin_book_review_path(review.book, review) do %>
      <span class= "glyphicon glyphicon-pencil" ></span>
      <% end %>
    <% end %>
    <%= link_to admin_book_review_path(review.book, review),
      method: :delete, data: {confirm: t("flash.check")} do %>
      <span class="glyphicon glyphicon-trash text-danger"></span>
    <% end %>
    <%= time_ago_in_words review.created_at  %> ago
  </span>
</div>
