<%= javascript_include_tag 'panel.js' %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %></br>
        <b><h3><%= @user.name %></h3></b></br></br>
        <span class="join_at">
          <small><%= t "users.join" %>
                 <%= @user.created_at.to_date.strftime("%d - %B - %Y") %>
          </small>
        </span>
      </h1>
    </section>
    <div class="col-md-8">
      <%= render "shared/stats" %>
    </div>
    <div class="col-md-8">
      <div class="form_follow">
        <%= render "follow_form" if logged_in? %>
      </div>
    </div>
  </aside>
  <div class="col-md-8">
    <div class="activity_list">
      <% unless @activities.blank? %>
        <h3><%= t "users.activity" %></h3>
        <%= render @activities %>
        <%= will_paginate @activities %>
      <% else %>
        <h3 class="none_activity"><b><%= t "activity.none" %></b></h3>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <h3 class="history"><%= t "book.history" %></h3>
  <div class = "bottom_panel">
    <div class="row">
      <div class="select_panel" id="select_panel">
        <div id="btnfavor" onclick="show('favorite_book_panel');
          hide('read_book_panel');hide('reading_book_panel')"
          name="favorite" class="btn btn-primary"><%= t "title.favorite" %></div>
        <div id="btnread" onclick="show('read_book_panel');
          hide('favorite_book_panel');hide('reading_book_panel')"
          name="read" class="btn btn-primary"><%= t "title.read" %></div>
        <div id="btnreading" onclick="show('reading_book_panel');
          hide('read_book_panel');hide('favorite_book_panel')"
          name="reading" class="btn btn-primary"><%= t "title.reading" %></div>
        </div>
    </div>
    <div class="row">
      <div class="main" id="main1">
        <span>
          <div class="favorite_book" id="favorite_book_panel">
            <%= render partial: "history_index", locals: {books: @favorite_books} %>
          </div>
          <div class="read_book" id="read_book_panel">
            <%= render partial: "history_index", locals: {books: @read_books} %>
          </div>
          <div class="reading_book" id="reading_book_panel">
            <%= render partial: "history_index", locals: {books: @reading_books} %>
          </div>
        </span>
      </div>
    </div>
    <script>
      $('#favorite_book_panel').hide();
      $('#read_book_panel').hide();
      $('#reading_book_panel').hide();
    </script>
  </div>
</div>


