<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %></br>
        </br><h4><%= @user.name %></h4>
      </h1>
    </section></br>
    <div class="col-md-8">
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
    </div>
    <div class="col-md-8">
      <%= render "follow_form" if logged_in? %>
    </div>
  </aside>
  <% if current_user.following? @activity.user %>
    <div class="col-md-8">
      <h3><%= t "users.activity" %></h3>
      <%= render @activities %>
      <%= will_paginate @activities %>
    </div>
  <% end %>
</div>
<div class="row">
  <h3><%= t "book.favorite" %></h3>
  <%= render partial: "books/book_index", locals: {books: @books} %>
</div>
