<div>
  <div class="row">
    <aside class="col-md-4">
      <section class="request_form">
        <%= render "shared/request_form" %>
      </section>
    </aside>
  </div>
  <div class="row">
    <% if @user.requests.any? %>
      <h3><%= t "title.request" %> (<%= @user.requests.count %>)</h3>
      <div class="requests">
        <%= render @requests %>
      </div>
       <%= will_paginate @requests %>
    <% end %>
  </div>
</div>
