<div class="container">
  <div class="container-fluid">
    <b><%= @book.title %></b></br>
    <%= @book.author %> </br>
    <%= @book.publish_date.to_date %> </br>
    <%= @book.number_of_page %>  </br>
    <%= @book.rate %>  </br>
  </div>
</div>

<%= render "reviews/index" %>
