<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t "title.stt" %></th>
      <th><%= t "categories.name" %></th>
      <th><%= t "categories.number" %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each_with_index do |category, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td class="books_in_category">
          <%= link_to category.category_name, category_path(category) %></td>
        <td><%= category.books.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
