<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Book Reviewing System", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <% if current_user.is_admin? %>
            <li><%= link_to t("title.book_header"), admin_books_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t "titile.manager" %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t("title.user"), admin_users_path %></li>
                <li><%= link_to t("title.category"), admin_categories_path %></li>
                <li><%= link_to t("title.request"), admin_requests_path %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t("title.book_header"), books_path %></li>
            <li><%= link_to t("title.user"), users_path %></li>
            <li><%= link_to t("title.category"), categories_path %></li>
            <li><%= link_to t("title.request"), requests_path %></li>
          <% end %>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "titile.account" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("title.profile"), current_user %></li>
              <li><%= link_to t("title.setting"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("signup.logout"), logout_path, method: "delete" %>
              </li>
            </ul>
            </li>
        <% else %>
          <li><%= link_to t("signup.login"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
