<!DOCTYPE html>
<html>
<head>
  <title><%= t "title.home" %></title>
  <%= stylesheet_link_tag "application",
    media: "all", "data-turbolinks-track": true %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shim" %>
</head>
<body>
  <%= render "layouts/head" %>
  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
